<template>
    <section class="container">
        <ul>
            <li v-for="(student, index) in studentStore.students" :key="index">
            <RouterLink :to="{name: 'estudiante', params: {id: student.id}}">
                {{ index +1 }} | {{ student.email }}
            </RouterLink>
            <button @click="eliminar(student.id)">Eliminar</button>
            </li>
        </ul>
    </section>

</template>
<script lang="ts" setup>
    import { useStudentStore } from '@/stores/StudentStore';
    import { onMounted } from 'vue';

    const studentStore = useStudentStore()
    onMounted(async () =>{
        await studentStore.fetchStudents()
    })

    async function eliminar(id: number){
        await studentStore.deleteStudent(id)
        await studentStore.fetchStudents()
        alert('Usuario eliminado correctamente')
    }

</script>

<style scoped>
.container {
    width: 50%;
    height: 50%; 
    background: black;
    border-radius: 20px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    min-height: 100vh; 
    color: black;
}
ul{
    text-align: justify;
    padding: 0;
}
button{
    border-radius: 10px;
    list-style: none;
    border: none;
    height: 20px;
    width: 70px;
    cursor: pointer;
    text-align: center;
}
button:hover{
    background-color: brown;
}
</style>