<template>
    <section class="add-card page">
        <form class="form">
            <label for="name" class="label">
            <span class="title">Nombre</span>
            <h2 class="input-field">{{ estudent?.name }}</h2>
            </label>
            <label for="serialCardNumber" class="label">
            <span class="title">Correo Electronico</span>
            <h2 class="input-field">{{ estudent?.email }}</h2>
            </label>
            <div class="split">
            <label for="ExDate" class="label">
                <span class="title">Grupo</span>
                <h2 class="input-field">{{ estudent?.group }}</h2>
            </label>
            <label for="cvv" class="label">
                <span class="title">ID</span>
                <h2 class="input-field">{{ estudent?.id }}</h2>
            </label>
            </div>
        </form>
    </section>
</template>
<script lang="ts" setup>
    import { useStudentStore } from '@/stores/StudentStore';
    import { onMounted, watch } from 'vue';
    import { useRoute } from 'vue-router'
    import { ref } from 'vue'

const student = useStudentStore()

onMounted(async () =>{
    const router = useRoute()
    const userId = Number(router.params.id)
    await student.fetchStudent(userId)
})
const estudent = ref(student.student)
console.log('Estudiante:',estudent);

watch(() => student.student, (newValue) => {
        estudent.value = newValue;
    });
</script>

<style scoped>
    .form {
        background: #0c0f14;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
        0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09),
        0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        position: relative;
        border-radius: 25px;
        margin: 10% auto;
    }
    .form .label {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: -moz-fit-content;
        height: fit-content;
    }
        .form .label:has(input:focus) .title {
        top: 0;
        left: 0;
        color: white;
    }
    .form .label .title {
        padding: 0 10px;
        transition: all 300ms;
        font-size: 12px;
        color: #8b8e98;
        font-weight: 600;
        width: -moz-fit-content;
        width: fit-content;
        top: 14px;
        position: relative;
        left: 15px;
        background: #0c0f14;
    }
    .form .input-field {
        width: auto;
        height: 50px;
        text-indent: 15px;
        border-radius: 15px;
        outline: none;
        background-color: transparent;
        border: 1px solid #21262e;
        transition: all 0.3s;
        caret-color: #d17842;
        color: #aeaeae;
    }

    .form .input-field:hover {
        border-color: white;
    }

    .form .input-field:focus {
        border-color: white;
    }
    .form .split {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 15px;
    }
    .form .split label {
        width: 130px;
    }

</style>