<template>
    <form class="form" @submit.prevent="EnviarForm()">
    <p class="title">Registro </p>
        
        <label>
            <input class="input" type="text" v-model="nombre">
            <span>Nombre</span>
        </label>
            
    <label>
        <input class="input" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" v-model="correo">
        <span>Email</span>
    </label> 
        
    <label>
        <input class="input" type="text" v-model="grupo">
        <span>Grupo</span>
    </label>
    <button class="submit" type="submit" :disabled="!camposCompletos()">Enviar</button>
</form>

</template>
<script lang="ts" setup>
import { useStudentStore } from '@/stores/StudentStore'
    import { ref } from 'vue'

    const service = useStudentStore()

    const nombre = ref('')
    const correo = ref('')
    const grupo = ref('')

    const EnviarForm = async () => {
        if(!nombre.value || !correo.value || !grupo.value){
            alert("Por favor, llena todos los campos")
            return
        }
        if (!/^[\w-]+(\.[\w-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$/.test(correo.value)) {
            alert("Por favor, ingresa un correo electrónico válido");
            return
        }
        service.createStudent(nombre.value, correo.value, grupo.value)
    }

    const camposCompletos = () => {
        return nombre.value && correo.value && grupo.value;
    }
</script>


<style scoped>
    .form {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 400px;
        padding: 20px;
        border-radius: 20px;
        position: relative;
        background-color: #1a1a1a;
        color: #fff;
        border: 1px solid #333;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);
    }

    .title {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -1px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 30px;
        color: #00bfff;
    }

        .title::before {
        width: 18px;
        height: 18px;
    }

    .title::after {
        width: 18px;
        height: 18px;
        animation: pulse 1s linear infinite;
    }

    .title::before,
    .title::after {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        border-radius: 50%;
        left: 0px;
        background-color: #00bfff;
    }

    .form label {
        position: relative;
    }

    .form label .input {
        background-color: #333;
        color: #fff;
        width: 100%;
        padding: 20px 05px 05px 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 10px;
    }

    .form label .input + span {
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 10px;
        top: 0px;
        font-size: 0.9em;
        cursor: text;
        transition: 0.3s ease;
    }

    .form label .input:placeholder-shown + span {
        top: 12.5px;
        font-size: 0.9em;
    }

    .form label .input:focus + span,
    .form label .input:valid + span {
        color: #00bfff;
        top: 0px;
        font-size: 0.7em;
        font-weight: 600;
    }

    .input {
        font-size: medium;
    }

    .submit {
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        transform: .3s ease;
        background-color: #00bfff;
    }

    .submit:hover {
        background-color: #00bfff96;
    }

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
</style>