<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
      <nav class="navbar">
        <RouterLink to="/estudiantes">Estudiantes</RouterLink>
        <RouterLink to="/create">Registro</RouterLink>
      </nav>
      <RouterView />
      <div class="saludo"  v-if="$route.path === '/'">
        <img src="./assets/92633e757e2feb0369701515b3090837.jpg" alt="">
      </div>
</template>


<style scoped>
.saludo{
  margin-top: 10%;
  text-align: center;
}
img{
  border-radius: 10px;
}
  html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #353f40; 
  color: white;
  padding: 1rem;
  text-align: end;
  z-index: 99999999;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.navbar a:hover {
  background-color: #33a177; 
  border-radius: 10px;
}


</style>
